<ion-content class="ion-padding">

  <div class="reset-password" ><h2>Fill in your email</h2></div>
  <p class="page-container" >To get a reset password link</p>

  <ion-header>
    <ion-toolbar>
      <ion-title>Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Send Reset Link</ion-button>
  </form>

  <div *ngIf="resetError" class="error-message">
    {{ resetError }}
  </div>
</ion-content>
