<!--HTML-->

<ion-content class="ion-padding">
  
  <div class="welcome" ><h2>Welcome to</h2></div>
  
  <div class="container">
    <ion-img src="assets/imgs/SMEfy-Landing.png"></ion-img>
  </div>

  <div>
   
    <p class="page-container" >Your ultimate business companion!</p>
    <ion-note  class="welcome-message" > Manage your products, orders, and more with ease. With powerful analytics and marketing tools, SMEfy helps you stay ahead in today's competitive market.</ion-note>
  </div>

<br>


  <div class="center-button">
    <ion-button expand="block" (click)="startLoading()">
      <ion-text><strong>Get Started</strong></ion-text>
    </ion-button>
  </div>


</ion-content>



