<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add-product" href="/tabs/add-product">
      <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
      <ion-label>Add product</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="storefront" href="/tabs/storefront">
      <ion-icon aria-hidden="true" name="storefront-outline"></ion-icon>
      <ion-label>Store Front</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="register" href="/tabs/register">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>Register</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="products" href="/tabs/products">
      <ion-icon aria-hidden="true" name="fast-food-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order" href="/tabs/order">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/tabs/cart">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>





