ion-tabs {
  ion-tab-bar {
    background: #fff; // Set the background color of the tab bar
    border-top: 1px solid #eaeaea; // Add a subtle border to the top of the tab bar

    ion-tab-button {
      --color-selected: #3880ff; // Color for the selected tab icon and label
      --color: #606060; // Default color for tab icon and label

      ion-icon {
        font-size: 1.2em; // Adjust the size of the icons
      }

      ion-label {
        font-size: 0.8em; // Adjust the size of the labels
        text-transform: uppercase; // Uppercase the labels for a more uniform look
      }

      &.tab-selected {
        ion-icon,
        ion-label {
          color: var(--color-selected); // Apply the selected color when a tab is active
        }
      }
    }
  }
}
